@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$open-sans: 'Open Sans';
$color-primery: #2196F3;
$color-gray: #4A4A4A;
$color-background: #F3F7FA;
$color-background-element: #FFFFFF;

$md-checkbox-checked-color: #FFFFFF;
$md-checkbox-border-color: #9ABBCE;
$md-checkbox-checked-color-disabled: #2196F3;

$md-checkbox-margin: 1em 0;
$md-checkbox-size: 1.5em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 1px;
$md-checkbox-border-radius: 0.125em;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #2196F3;
$md-checkbox-label-padding: .75em;